@using TestBlog.Models
@model ViewModelBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!--TODO bundle css-->
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@


    <link href="~/startbootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/startbootstrap/css/clean-blog.min.css" rel="stylesheet" />
    <link href="~/startbootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>


<body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>

                @Html.ActionLink("Musings", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    
                    <!--TODO need method for latest post.-->
                    <li>@Html.ActionLink("Latest", "Latest", "Posts")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div> <!--collapse-->

        </div> <!--container-->

    </nav> <!--/.navbar-->
    
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>@Model.PageTitle</h1>
                        <hr class="small">
                        <span class="subheading">@Model.PageSubtitle</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Powers Wartman 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/startbootstrap/vendor/jquery/jquery.min.js"></script>
    <script src="~/startbootstrap/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="~/startbootstrap/js/jqBootstrapValidation.js"></script>
    <script src="~/startbootstrap/js/contact_me.js"></script>
    <script src="~/startbootstrap/js/clean-blog.min.js"></script>
    <!--TODO bundle scripts-->
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>
