@using PagedList;
@using PagedList.Mvc;
@using TestBlog.Models;
@model PagedList<Post>


@foreach (var post in Model)
{
<div class="post-preview">
    <a href="@Url.Action("Details", new { id = post.Id })">
        <h2 class="post-title">
            @post.Title
        </h2>
        <h3 class="post-subtitle">
            @post.Category
        </h3>
    </a>
    @if (post.Modified != null)
    {
    <p class="post-meta">Modified by @post.Author.UserName on @post.Modified.ToString()</p>
    }
    else
    {
    <p class="post-meta">Posted by @post.Author.UserName on @post.Created.ToString("g")</p>
    }
</div>
        <hr>
}

@Html.PagedListPager(Model, page => Url.Action("Index",
   new { page }),
   new PagedListRenderOptions() {
       UlElementClasses = new List<string> { "pager" }})

@*<ul class="pager">
    <li class="next">
        <a href="#">Older Posts &rarr;</a>
    </li>
    <li>
        Page @Model.PageNumber of @Model.PageCount
    </li>
</ul>*@